body{
    text-align: center
}

h1, #counter{
    margin-top: 5%  ;
     font-style: oblique;
    font-size: 60px;
}

/* div */

#number{
    font-size: 100px;
}

/* buttons */

button{
    font-size: 18px;
    height: 30px;
    width: 20%;
    border-radius: 5px ;
    letter-spacing: 2px;
    margin: 16px;
    
}

.btn res{
    margin-right: 2%;
    margin-left: 2%;
}

/* animation when is hover */

.inc:hover{
    background-color: rgb(25, 169, 25);
    color: whitesmoke;   
}

.dec:hover{
    background-color: red;
    color: aliceblue;
}

.res:hover{
    background-color: rgb(186, 184, 184);
    color: whitesmoke;

}